title ShapedPattern
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css", rel="stylesheet" )
link(href="/css/style.css", rel="stylesheet" )

script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/dat.gui.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.1/svg.min.js')
script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")

link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
link(type="text/css", rel="stylesheet", href="/materialize/css/materialize.min.css",  media="screen,projection")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

link(href="/materialize/css/materialize.css", rel="stylesheet")

if token
	script!= "localStorage.setItem('token', '" + token +"')"