nav
	.nav-wrapper
		script(src='https://code.jquery.com/jquery-2.1.1.min.js', type="text/javascript" )
		script(src='/node_modules/materialize-css/dist/js/materialize.min.js', type="text/javascript" )
		script(src='/js/index.js', type="text/javascript" )
		script(src='/js/splitting.js', type="text/javascript" )
		script(src='/js/tester2.js', type="text/javascript" )
		script(src='/ui.js', type="text/javascript" )
		p Shapped Pattern generator
